.navigation {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  color: #fff;
  height: 50px;
  background-color: #1b1b1e;
}

.site-menu > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.site-menu > ul > li {
  padding-left: 5px;
  padding-right: 5px;
}

.site-menu > ul > li:hover {
  background: #373f51;
}
